@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.leaflet-container {
  cursor: pointer !important;
}

.leaflet-tooltip.leaflet-tooltip-custom {
  background: white;
  border-radius: 4px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  color: #222;
  font-size: 1rem;
}
